*{
    box-sizing: border-box;
}
div{
    display: block;
}
html,
body {
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: GrefcliffCF,Helvetica,Calibri,sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}
img{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a{
    color:#253342;
}
.header-top{
    display: flex;
    padding-top: 20px;
    margin-right: 40px;
}

.header-top-item{ 
    color: #253342;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
}

.btn-search i{
    display: inline-block;
}
.btn-search{
    width: 54px;
    height: 54px;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}
i{
    font-style: normal;
    line-height: 1;
}
.p-header{
    background-color: #fafbfd;
    min-height: 180px;
    position: relative;
    z-index: 11;
    letter-spacing: 0;
}
.search-area-form{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.search-area{
    background-color: #bec1c542;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 780px;
   margin-left: 10px;
   margin-right: 10px;
}
#search-form-input{
    color: #bec1c542;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    
}
#navbarSupportedContent
{
    border-radius: 5px;
    color:white;
    margin-top: 1px;
    margin-left: 400px;
    background-color:#fff;
    width: 150px;
    height: 40px;    
    position:absolute;
    display: flex;
    font-weight: 500;
}

input{
    font-family: sans-serif;
    box-sizing: content-box;
}
button,input,select,textarea{
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1;
}

.header-basket-item{
    position: absolute;
    top: 50%;
    right: -19px;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 3px solid #fafbfd;
    box-sizing: border-box;
    display: flex;
    background-color: #ed6060;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

i{
    margin-top: 4px;
    margin-right: 5px;
    font-style: normal;
    line-height: 1;
}
.person-circle a{
    color: #565656;
}
.person-circle{
    border-radius: 5px;
    border: solid 1px #dee3ed;
    background-color:#fff;
    height: 60px;
    width: 180px;
    color: #253342;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    padding: 20 26px;
    align-items: center;
    margin-right: 10px;
}
.person-circle i{
    position: relative;
}
.sepet{
    color: #253342;
    background-color: #ffc900;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    display: flex;
    padding: 0 26px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
}
.sepet i.bi-cart4{
    margin-right: 12px;
    
}
.container-product{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.container-p{
    margin-top: 40px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  
}
.logo{
    width: 120px;
    margin-right: 30px;
    margin-bottom: 0;
}
.m-p-section{
    text-align: center;
    
}
.header-mid{
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.header-bottom{
    margin-right: 20px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 1px;
    text-align: center;
}
.iphone-types{
    margin-right: 20px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 1px;
    text-align: center;

}
.iphone-types-item{
    display: flex;
    align-items: center;
    z-index: 14;
    padding: 10px 0;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.header-bottom-item{
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    color: #253342;
    font-weight: bold;
    font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
    line-height: 24px;
    position: relative;
    z-index: 14;
    padding: 10px 0;
}
.m-p-section-top{
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    opacity: 0.6;
    text-shadow: #565656;
    margin-top:30px;
  
}
.dropdown-sort{
    flex-wrap: wrap;
    
    text-align: center;
    padding: 10px 0;
    align-items: center;
    margin-left: 100px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, 
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, 
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    text-decoration: none;
}
.footer-social{
    display: flex;
    align-items: center;
}
.m-btn-group{
    display: flex;
    -webkit-box-pack: end;
}
.p-footer-bottom ul.footer-language{
    display: flex;
    align-items: center;
}
.p-footer{
    color: white;
    background-color: #27356f;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 9;
    
}
.p-footer a{
    color: white;

    
}
.p-footer-nav{
    padding: 1.875rem 0;
}

.p-footer-mid-container {
width: 1200px;
margin: 0 auto;
padding: 0 10px;
box-sizing: border-box;
}

.p-footer li{
    list-style: none;
}

.footer-social strong{
font-weight: 700;
    font-size: 1rem;
    color: #fff;
}
ol,ul{
    list-style: none;
}

.p-footer ul.footer-language li a {
    color: #fff;
    display: block;
    font-size: 1rem;
    margin-right: 1.375rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    -webkit-transition: border-bottom .3s;
    -o-transition: border-bottom .3s;
    transition: border-bottom .3s;
    will-change: border-bottom;
    opacity: .5;
}

.grid .grid-col{
    max-width:100%;
    padding-left: .625em;
    padding-right: .625em;
}


.grid{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.p-footer-bottom-container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.m-p-grid{
    flex-wrap: wrap;
    margin: 0 -.625rem;
}
.m-p-grid-col{
    flex-grow: 1;
    max-width: 100%;
    padding-left: .652em;
    padding-right: .625em;
    flex-basis: 0;
}

.p-footer-nav ul li a{
    display: block;
    color: #fff;

}

ul.a-p-breadcrumb--secondary{
    height: 70px;
}

ul.a-p-breadcrumb{
    display: flex;
}
.breadcrumb{
    display: flex;
}
